*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    >ul{
        display: flex;
        justify-content: space-between;
        gap: 40px;

    }
    >.topimg{
        position: absolute;
        left: 35%;
    }
}
.main{
    /* background: rgb(160, 238, 238); */
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    margin: 60px 0;
}


.rightmain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    >.elipce{
        width: 300px;
    }
}
.buybutton{
    >button{
        background: #3543BC;
        border-radius: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 150px;
        color: white;
        border: none;
        outline: none;
    }
}


/* CATEGORIES */
.categories{
    /* background: teal; */
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    margin: 25px 0;
    >.casualShoes{
        font-size: 48px;
        color: #363958;
        line-height: 48px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    >.collection{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 20px;
        width: 100%;
        justify-content: space-evenly;
    }
}

.imgCard{
    background: #F1F1F1;
    width: 334px;
    height: 327px;
    border-radius: 20px;
}

.container{
    background: rgb(244, 244, 244);
    width: 350px;
    height: 510px;
    padding: 8px;
    gap: 10px;
    border-radius: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    box-shadow: 5px 10px 40px rgb(200, 199, 199);
}
.container:hover{
    box-shadow: 5px 10px 40px rgb(200, 199, 199);
}
.btmcard{
    /* background: teal; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    >.price{
        color: #FA804C;
        font-size: 36px;
        font-family:sans-serif;
        font-weight: 600
    }
}

.cardDetails{
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.casualShoes{
    width: 100%;
    padding-left: 40px;
}

@media screen and (max-width: 778px) {
    .main {
      /* background-color: lightgreen; */
    }
    .navbar{
       justify-content: start;
       padding-left: 30px;
        >ul{
            position: fixed;
            display: flex;
            flex-direction: column;
            background: #FA804C;
            height: 100vh;
            justify-content: start;
            right: 0;
            color: white;
            width: 300px;
            top: 0;
            padding-top: 40px;
            padding-left: 50px;
        }
        >.topimg{
            position: absolute;
            left: 35%;
        }

    }

  }

  .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 20px;
    gap: 50px;
    margin: 60px 0;
    margin-bottom: 80px;
    flex-wrap: wrap;
    >.sepfoo{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: end;
    >.leftfoo{
        background: rgb(244, 243, 243);
        padding: 5px;
        display: flex;
        width: 500px;
        height: 135px;
        gap: 30px;
        border-radius: 20px;
        align-items: center;
        >.c1{
            
        }
        >.c2{
            display: flex;
            flex-direction: column;
            gap: 20px;
            >.texthead{
            color: #363958;
            font-size: 24px;
            font-weight: 700;
            }
            >.para{
                color: rgb(114, 114, 114);
            }
        }
    }
}
  }