<div>

    <div class="navbar">
      <div>
        <img src="/assets/images/Group.png" alt="">
        <img src="/assets/images/Penguin Fashion.png" alt="">
      </div>
      <div class="topimg">
        <img src="/assets/images/Group 33064.svg" alt="">
      </div>
        <ul class="navs">
          <li>Home</li>
          <li>Product</li>
          <li>About us</li>
          <li>Contact us</li>
        </ul>
    </div>

<div class="main">
      <div class="leftmain">
    <div class="elipce">
      <img class="circle" src="/assets/images/Group 33103.svg" alt="">
    </div>
      </div>
      <div class="rightmain">
          <div class="elipce">
            <img class="circle" src="/assets/images/Nike React Infinity Run 2.svg" alt="">
          </div>
          <div>
            Lorem Ipsum is simply dummy text of the printing 
        and typesetting industry.
          </div>
          <div class="buybutton">
            <button>
              <img src="/assets/images/Group.svg" alt="">
              BUY NOW
            </button>
          </div>
      </div>
</div>

<div class="categories">
  <div class="casualShoes">
    CASUAL SHOES
  </div>
  <div class="collection">
    <div class="container" *ngFor="let data of tracker;index as i">
      <div>
        <div class="imgCard">
          <img src="/assets/images/image 5.svg" alt="">
        </div>
      <div class="cardDetails">
        <div class="cat" style="color: #363958; font-size: 24px; padding-left: 20px;">Sneakers Skate Shoe </div>
        <div style="width: 299px;">
          Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry.
        </div>
        <div class="btmcard">
          <div class="price">
            $ 234
          </div>
          <div class="buybutton">
            <button>
              <img src="/assets/images/Group.svg" alt="">
              BUY NOW
            </button>
          </div>
        </div>
      </div>
        </div>
      </div>
  </div>
  </div>
<div class="categories">
  <div class="casualShoes">
    FORMAL SHOES
  </div>
  <div class="collection">
    <div class="container" *ngFor="let data of tracker;index as i">
      <div>
        <div class="imgCard">
          <img src="/assets/images/image 5.svg" alt="">
        </div>
      <div class="cardDetails">
        <div class="cat" style="color: #363958; font-size: 24px; padding-left: 20px;">Sneakers Skate Shoe </div>
        <div style="width: 299px;">
          Lorem Ipsum is simply dummy text of the 
          printing and typesetting industry.
        </div>
        <div class="btmcard">
          <div class="price">
            $ 234
          </div>
          <div class="buybutton">
            <button>
              <img src="/assets/images/Group.svg" alt="">
              BUY NOW
            </button>
          </div>
        </div>
      </div>
        </div>
      </div>
  </div>
  </div>
</div>
<div class="footer">
<div class="sepfoo">
  <div class="leftfoo">
    <div class="c1">
      <img src="/assets/images/image 12.svg" alt="">
    </div>
    <div class="c2">
      <div class="texthead">
        Free Exchanges
      </div>
      <div class="para">
        Everybody is different, which is why we
        offer styles for every body.
      </div>
    </div>
</div>
<div class="leftfoo">
    <div class="c1">
      <img src="/assets/images/image 13.svg" alt="">
    </div>
    <div class="c2">
      <div class="texthead">
        Free Exchanges
      </div>
      <div class="para">
        Everybody is different, which is why we
        offer styles for every body.
      </div>
    </div>
</div>
<div class="leftfoo">
    <div class="c1">
      <img src="/assets/images/image 14.svg" alt="">
    </div>
    <div class="c2">
      <div class="texthead">
        Free Exchanges
      </div>
      <div class="para">
        Everybody is different, which is why we
        offer styles for every body.
      </div>
    </div>
</div>
</div>
  <div class="rightfoo">
    <img src="/assets/images/XMLID 1.svg" alt="">
  </div>
</div>

<router-outlet></router-outlet>